# Python Data Types Assignment

## TOPIC: String Based Assignment Problem

#### 1. Write a program to reverse a string.

In [3]:
def reverse_string (str): 
    return str[::-1]

reverse_string("python")

'nohtyp'

#### 2. Check if a string is a palindrome.

In [4]:
def check_palindrome (str):
    if str == str[::-1]:
         print("Given string is palindrome")
    else:
        print("Given String is not palindrome")
        
check_palindrome("asds") 
check_palindrome("asdfdsa")

Given String is not palindrome
Given string is palindrome

#### 3. Convert a string to uppercase.

In [5]:
def to_uppercase(str):
    # Converts the input string to uppercase
    return str.upper()

to_uppercase("Python")

'PYTHON'

#### 4. Convert a string to lowercase.

In [6]:
def to_lowercase(str):
    # Converts the input string to lowercase
    return str.lower()

to_lowercase("PYTHON")

'python'

#### 5. Count the number of vowels in a string.

In [7]:

def num_vowels(str):
    # Counts the number of vowels in the input string
    count = 0
    for i in str:
        if i in "aeiou":
            count += 1
    print("Number of vowels:", count)
num_vowels("qwerty")
num_vowels("Jupyter")

Number of vowels: 1
Number of vowels: 2

#### 6. Count the number of consonants in a string.

In [8]:

def num_consonants(str):
    # Counts the number of consonants in the input string
    count = 0
    for i in str:
        if i not in "aeiou":
            count += 1
    print("Number of consonants:", count)
num_consonants("qwerty")
num_consonants("notebook")

Number of consonants: 5
Number of consonants: 4

#### 7. Remove all whitespaces from a string.

In [9]:

def remove_whitespaces (str):
    # Removes all whitespaces from the input string
    return str.replace(" ", "")
remove_whitespaces("Python ML DL")

'PythonMLDL'

#### 8. Find the length of a string without using the `len()` function.

In [10]:

def len_string(str):
    # Counts the number of characters in the input string
    count = 0
    for i in str:
        count += 1
    print("Length of input string: ", count)
len_string("MLOPS")

Length of input string:  5

#### 9. Check if a string contains a specific word.

In [11]:
def contains_word (str, word):
    if word in str:
        print(str, "contains", word)
    else:
        print(str,"does not contain", word)
contains_word("This is Star wars", "wars")
contains_word("Python is snake", "cobra")

This is Star wars contains wars
Python is snake does not contain cobra

#### 10. Replace a word in a string with another word.

In [12]:
def replace_word(str, word1, word2):
    if word1 in str:
        print(str, "is changed to:", str.replace(word1, word2))
    else:
        print("The given word to be replaced is not present the given string")

replace_word("Python is a language", "Python", "C++")
replace_word("Python is a language", "java", "conda")

Python is a language is changed to: C++ is a language
The given word to be replaced is not present the given string

#### 11. Count the occurrences of a word in a string.

In [13]:
def count_occurences(str, word):
    if word in str:
        print("Number of occurences: ", str.count(word))
    else: 
        print("The string does not contain the given word")
count_occurences("This a bag and that is a bat", "is")
count_occurences("This is a python", "Python")

Number of occurences:  2
The string does not contain the given word

#### 12. Find the first occurrence of a word in a string.

In [14]:
def index_of_first_occurence(str, word):
    if word in str:
        print("Index of first occurence: ", str.index(word))
    else:
        print("The string does not contain the given word")
index_of_first_occurence("That is a bag and this is a bat", "is")
index_of_first_occurence("This is a python", "Python")

Index of first occurence:  5
The string does not contain the given word

#### 13. Find the last occurrence of a word in a string.

In [15]:
def index_of_last_occurence(str, word):
    if word in str:
        print("Index of last occurence: ", str.rfind(word))
    else:
        print("The string does not contain the given word")
        
index_of_last_occurence("That is a bag and this is a bat", "is")
index_of_last_occurence("This is a python", "Python")

Index of last occurence:  23
The string does not contain the given word

#### 14. Split a string into a list of words.

In [16]:
def split_string(str):
    return str.split(" ")
split_string("That is a bag and this is a bat")

['That', 'is', 'a', 'bag', 'and', 'this', 'is', 'a', 'bat']

#### 15. Join a list of words into a string.

In [17]:
def join_words(list):
    return " ".join(list)
join_words(['That', 'is', 'a', 'bag', 'and', 'this', 'is', 'a', 'bat'])

'That is a bag and this is a bat'

#### 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [18]:
def convert_string(str):
    list_ = str.split(" ")
    return "_".join(list_)
convert_string("That is a bag and this is a bat")

'That_is_a_bag_and_this_is_a_bat'

#### 17. Check if a string starts with a specific word or phrase.

In [19]:
def check_starts_with(str, word):
    if str.startswith(word):
        return True
    else:
        return False
    
print(check_starts_with("This is a program", "This"))
print(check_starts_with("That is a bag and this is a bat", "bat"))

True
False

#### 18. Check if a string ends with a specific word or phrase.

In [20]:
def check_ends_with(str, word):
    if str.endswith(word):
        print(True)
    else:
        print(False)
check_ends_with("This is a program", "This")
check_ends_with("That is a bag and this is a bat", "bat")

False
True

#### 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [21]:
def convert_to_title(str):
    return str.title()
convert_to_title("hello world")

'Hello World'

#### 20. Find the longest word in a string.

In [22]:
def find_longest_word(str):
    list_ = str.split(" ")
    longest = list_[0]
    for item in list_:
        if len(item)> len(list_[0]):
            longest = item
    print("Longest word in the given string: ", longest)


find_longest_word("This is a program")  
find_longest_word("Hello there, I am Python")

Longest word in the given string:  program
Longest word in the given string:  Python

#### 21. Find the shortest word in a string.

In [23]:
def find_shortest_word(str):
    list_ = str.split(" ")
    shortest = list_[0]
    for item in list_:
        if len(item) < len(list_[0]):
            shortest = item
    print("Shortest word in the given string: ", shortest)
find_shortest_word("This is a program")
find_shortest_word("Study this language Python")

Shortest word in the given string:  a
Shortest word in the given string:  this

#### 22. Reverse the order of words in a string.

In [24]:
def reverse_order(str):
    list_ = str.split(" ")
    list_.reverse()
    return " ".join(list_)
reverse_order("Study this language Python")

'Python language this Study'

#### 23. Check if a string is alphanumeric.

In [25]:
def check_alphanum(str):
    
    if str.isalnum():
        print("Yes, the given string is alphanumeric")
    else:
        print("No, the given string is not alphanumeric")
check_alphanum("!Python") # ! is not an alphanumeric character
check_alphanum("11100")
check_alphanum("Hi 45") # Whitespace is not an alphanumeric character

No, the given string is not alphanumeric
Yes, the given string is alphanumeric
No, the given string is not alphanumeric

#### 24. Extract all digits from a string.

In [26]:
def extract_digits(str):
    list_ = []
    for char in str:
        if char.isdigit():
            list_.append(int(char))
    return list_
extract_digits("Hi this is 123 Hello")

[1, 2, 3]

#### 25. Extract all alphabets from a string.

In [27]:
def extract_alpha(str):
    list_ = []
    for char in str:
        if char.isalpha():
            list_.append(char)
    return list_
extract_alpha("Hi 123# person")

['H', 'i', 'p', 'e', 'r', 's', 'o', 'n']

#### 26. Count the number of uppercase letters in a string.

In [28]:
def count_upper(str):
    count = 0
    for char in str:
        if char.isupper():
            count += 1
    print("Number of uppercase letters: ", count)
count_upper("Hi Man")
count_upper("Hi Python Code")

Number of uppercase letters:  2
Number of uppercase letters:  3

#### 27. Count the number of lowercase letters in a string.

In [29]:
def count_lower(str):
    count = 0
    for char in str:
        if char.islower():
            count +=1
    print("Number of lowercase letters: ", count)
count_lower("Hi Python")

Number of lowercase letters:  6

#### 28. Swap the case of each character in a string.

In [30]:
def swap_char_case(str):
    string_ = ""
    for char in str:
        if char.isupper():
            string_ += char.lower()
        elif char.islower():
            string_ += char.upper()
        else:
            string_ += char
    return string_
swap_char_case("Hi There!")

'hI tHERE!'

#### 29. Remove a specific word from a string.

In [31]:
def remove_word(str, word):
    str_ = ""
    if word in str:
        str_ += str.replace(word, "")
    else:
        print("The word to be removed is not present in the given string")
    print("Modified String:",str_)
remove_word("This is Python", "is")

Modified String: Th  Python

#### 30. Check if a string is a valid email address.

In [32]:
def check_email(str):
    if "@" not in str:
        return False
    elif str[-4:] not in ".com.org.net.edu.gov":
        return False
    else:
        return True

print(check_email("qwerty@gmail.com"))
print(check_email("abdcs@outlook!com"))

True
False

#### 31. Extract the username from an email address string.

In [33]:
def extract_username(str):
    str_ = ""
    if check_email(str):
        
        i = 0
        while str[i] != '@':
            str_ += str[i]
            i +=1
    else:
        print("Invalid Email address")
    return str_
print(extract_username("abcd@outlook.com"))
print(extract_username("qwerty#123!gmail.com"))

abcd
Invalid Email address

#### 32. Extract the domain name from an email address string.

In [34]:
def extract_domain_name(str):
    if check_email(str):
        str_ = ""
        str_=str.split("@")[1]
      
        return str_
    else:
        return "Invalid Email Address"
print(extract_domain_name("abcd@hotmail.com"))
print(extract_domain_name("abcd@outlook.com"))
print(extract_domain_name("qwerty#123!gmail.com"))

hotmail.com
outlook.com
Invalid Email Address

#### 33. Replace multiple spaces in a string with a single space.

In [35]:
def replace_whitespaces(str):
    return ' '.join(str.split())
print(replace_whitespaces(" I    am      Python"))
print(replace_whitespaces(" This   is     my      code    "))

I am Python
This is my code

#### 34. Check if a string is a valid URL.

In [36]:
def check_url(str):
    
    if str[-4:] not in ".com.gov.edu.org.net":
        return False
    elif str[:12] != 'https://www.' and str[:11] != 'http://www.':
        return False
    else:
        return True

print(check_url("https://www.google.com"))       
print(check_url("https://ww.google.abc"))
print(check_url("http://www.abc.org"))

True
False
True

#### 35. Extract the protocol (http or https) from a URL string.

In [37]:
def extract_protocol(str):
    str_ = ""
    i = 0
    while str[i] != ':':
        str_ += str[i]
        i += 1
    return str_
print(extract_protocol("https://www.google.com"))
print(extract_protocol("http://www.abc.org"))

https
http

#### 36. Find the frequency of each character in a string.

In [38]:
def char_frequency(str):
    frequency = {}
    str = str.replace(" ", "")
    for char in str:
            frequency[char] = 0
    for char in str:
        frequency[char] +=1
    return frequency

char_frequency("Hi There Hello")

{'H': 2, 'i': 1, 'T': 1, 'h': 1, 'e': 3, 'r': 1, 'l': 2, 'o': 1}

#### 37. Remove all punctuation from a string.

In [39]:
import string
def remove_punctuations(str):
    punctuations = string.punctuation
    str_ = ""
   
    for char in str:
        if char not in punctuations:
            str_ += char
    str_ = " ".join(str_.split())
    return str_
print(remove_punctuations("Hi, man #@"))
print(remove_punctuations(("This is @#$ Python ,")))

Hi man
This is Python

#### 38. Check if a string contains only digits.

In [40]:
def check_only_digits(str):
    return str.isdigit()
print(check_only_digits("112"))
print(check_only_digits("abcd112"))
print(check_only_digits("Python"))

True
False
False

#### 39. Check if a string contains only alphabets.

In [41]:
def check_only_alpha(str):
    return str.isalpha()
print(check_only_alpha("123"))
print(check_only_alpha("abcd"))
print(check_only_alpha("abcd123"))

False
True
False

#### 40. Convert a string to a list of characters.

In [42]:
def convert_to_chars(str):
    str_ = str.replace(" ", "")
    return list(str_)
convert_to_chars("Hi Man")

['H', 'i', 'M', 'a', 'n']

#### 41. Check if two strings are anagrams.

In [43]:
def check_anagrams(str1, str2):
    return sorted(str1) == sorted(str2)
print(check_anagrams("listen", "silent"))
print(check_anagrams("dad", "bad"))
print(check_anagrams("night", "thing"))

True
False
True

#### 42. Encode a string using a Caesar cipher.

In [44]:
def Caesar_cipher_encode(str,n):
    if str == "":
        return "Empty String"
    if str.isupper():
        # using list comprehension
        return "".join([chr((ord(char) + n-65)%26+65) for char in str ])
    if str.islower():
        # using list comprehension
        return "".join([chr((ord(char) + n-97)%26+97) for char in str ])
        
print(Caesar_cipher_encode("python",2))
print(Caesar_cipher_encode("PYTHON", 2))
print(Caesar_cipher_encode("",1))

ravjqp
RAVJQP
Empty String

#### 43. Decode a Caesar cipher encoded string.

In [45]:
def Caesar_cipher_decode(str,n):
    if str == "":
        return "Empty String"
    if str.isupper():
        return "".join([chr((ord(char)-n-65)%26+65) for char in str])
    if str.islower():
        return "".join([chr((ord(char)-n-97)%26+97) for char in str])
print(Caesar_cipher_decode("ravjqp",2))
print(Caesar_cipher_decode("RAVJQP",2))
print(Caesar_cipher_decode("",2))

python
PYTHON
Empty String

#### 44. Find the most frequent word in a string.

In [46]:
def most_frequent_word(str):
    list_ = str.split(" ")
    frequency_dict = {}
    for item in list_:
        frequency_dict[item] = 0
    for item in list_:
        frequency_dict[item] +=1
    list_keys = list(frequency_dict.keys())
    list_values = list(frequency_dict.values())
    return list_keys[list_values.index(max(list_values))]
most_frequent_word("This is is is Python Python")

'is'

##### 45. Find all unique words in a string.

In [47]:
def all_unique_words(str):
    list_ = str.split(" ")
    list_ = set(list_)
    list_ = list(list_)
    return list_

all_unique_words("This is is is Python Python")

['Python', 'This', 'is']

#### 46. Count the number of syllables in a string.

In [48]:
def count_syllables_word(word):
    syllable_count = 0
    vowels = 'aeiouy'
    if word[0] in vowels:
        syllable_count += 1
    for index in range(1, len(word)):
        if word[index] in vowels and word[index - 1] not in vowels:
            syllable_count += 1
    if word.endswith('e'):
        syllable_count -= 1
    if word.endswith('le') and len(word) > 2 and word[-3] not in vowels:
        syllable_count += 1
    if syllable_count == 0:
        syllable_count += 1
    return syllable_count
def count_syllables_string(str):
    list_ = str.split(" ")
    count_syllable = 0
    for word in list_:
        count_syllable += count_syllables_word(word)
    return count_syllable
        
count_syllables_string("The Darte is big")

4

#### 47. Check if a string contains any special characters.

In [49]:
def check_special_characters(str):
    for char in str:
        if not (char.isalpha() or char.isdigit() or char == " "):
            return True
    return False
print(check_special_characters("@#"))
print(check_special_characters("asd128"))

True
False

#### 48. Remove the nth word from a string.

In [50]:
def remove_nth_word(str,n):
    list_ = str.split(" ")
    list_.pop(n)
    return " ".join(list_)
remove_nth_word("This is Python", 2)

'This is'

#### 49. Insert a word at the nth position in a string.

In [51]:
def insert_at_nth_index(str, n, word):
    
    list_ = list(str)
    list_.insert(n, (" "+word+" "))
    
    return "".join(list_).strip()

insert_at_nth_index("This is", 8,"Python")

insert_at_nth_index("Coder", 0, "I am")

'I am Coder'

#### 50. Convert a CSV string to a list of lists.

In [52]:
def csv_string_to_list_of_lists(csv_string):
    
    # Split the CSV string into rows
    rows = csv_string.split('\n')

    # Create an empty list to store the result
    result = []

    # Iterate over each row
    for row in rows:
        result.append(row.split(','))

    return result

csv_string = '1,2,3\n4,5,6\n7,8,9'
result = csv_string_to_list_of_lists(csv_string)
print(result)

[['1', '2', '3'], ['4', '5', '6'], ['7', '8', '9']]

## TOPIC: List Based Practice Problem

#### 1. Create a list with integers from 1 to 10.

In [53]:
def list_int():
    list_ = []
    for i in range(1,11):
        list_.append(i)
    return list_
        
list_int()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### 2. Find the length of a list without using the `len()` function.

In [54]:
def str_len(lst):
    count = 0
    for item in lst:
        count+=1
    return count

print(str_len(["Hi", "123", "@", [1,2,3]]))

4

#### 3. Append an element to the end of a list.

In [55]:
def list_append(lst, element):
    lst.append(element)
    return lst
print(list_append([1,2,3], "Hi"))

[1, 2, 3, 'Hi']

#### 4. Insert an element at a specific index in a list.

In [56]:
def list_insert(lst, index, element):
    lst.insert(index, element)
    return lst
list_insert([1,2, "Python"], 1, "Hi")

[1, 'Hi', 2, 'Python']

#### 5. Remove an element from a list by its value.

In [57]:
def list_remove_value(lst, element):
    lst.remove(element)
    return lst
list_remove_value([1,2,100], 1)

[2, 100]

#### 6. Remove an element from a list by its index.

In [58]:
def list_remove_index(lst, index):
    lst.pop(index)
    return lst
list_remove_index([1,2,4, 234], 3)

[1, 2, 4]

#### 7. Check if an element exists in a list.

In [59]:
def check_element_exists(lst, element):
    if element in lst:
        return True
    return False
print(check_element_exists([1,2,"Hello"], 2))
print(check_element_exists(["Hi", "There", "122"], "Hello"))

True
False

#### 8. Find the index of the first occurrence of an element in a list.

In [60]:
def index_of_first_occurence(lst, element):
    return lst.index(element)
print(index_of_first_occurence([1,2,1,1,'Hi'], 1))

0

#### 9. Count the occurrences of an element in a list.

In [61]:
def count_number_of_occurences(lst, element):
    return lst.count(element)
    
print(count_number_of_occurences([1,2,3,1,1], 1))

3

#### 10. Reverse the order of elements in a list.

In [62]:
def list_reverse(lst):
    lst.reverse()
    return lst
list_reverse([1,2,3,"Python"])

['Python', 3, 2, 1]

#### 11. Sort a list in ascending order.

In [63]:
def sort_list_ascending(lst):
    lst.sort()
    return lst
sort_list_ascending([56,1000,34,0])

[0, 34, 56, 1000]

#### 12. Sort a list in descending order.

In [64]:
def sort_list_descending(lst):
    lst.sort(reverse = True)
    return lst
sort_list_descending([1,40,5, 1000])

[1000, 40, 5, 1]

#### 13. Create a list of even numbers from 1 to 20.

In [65]:
def create_list_of_even_numbers():
    return [i for i in range(2,21,2)]
create_list_of_even_numbers()

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

#### 14. Create a list of odd numbers from 1 to 20.

In [66]:
def create_list_of_odd_numbers():
    return [i for i in range(1,20,2)]
create_list_of_odd_numbers()

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#### 15. Find the sum of all elements in a list.

In [67]:
def list_sum(lst):
    sum = 0
    for item in lst:
        sum += item
    return sum
list_sum([1,2,3,4])

10

#### 16. Find the maximum value in a list.

In [68]:
def list_max_value(lst):
    return max(lst)
list_max_value([34, 1000, 2])

1000

#### 17. Find the minimum value in a list.

In [69]:
def list_min_value(lst):
    return min(lst)
list_min_value([0, 1000, 5, -5])

-5

#### 18. Create a list of squares of numbers from 1 to 10.

In [70]:
def list_squares():
    return [i*i for i in range(1,11)]
list_squares()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### 19. Create a list of random numbers.

In [71]:
import random
def list_random():
     return [random.randint(1,10) for i in range(10)]
list_random()

[6, 9, 10, 3, 8, 8, 5, 2, 10, 3]

#### 20. Remove duplicates from a list.

In [72]:
def remove_duplicates(lst):
    return list(set(lst))
remove_duplicates([1,1,1,4,5,5,5,10])

[1, 10, 4, 5]

#### 21. Find the common elements between two lists.

In [73]:
def lists_find_common_elements(lst1, lst2):

    return list(set(lst1).intersection(set(lst2)))

lists_find_common_elements([1,2,3,1, "Hello"], [1,3,4,5, "Hello"])

[1, 3, 'Hello']

#### 22. Find the difference between two lists.

In [74]:
def lists_difference(lst1, lst2):
    return list(set(lst1).difference(set(lst2)))
print(lists_difference([1,2,3], [1,2,3]))
print(lists_difference(["Hi", "Hello", "Python"], ["Python"]))

[]
['Hi', 'Hello']

#### 23. Merge two lists.

In [75]:
def lists_merge(lst1, lst2):
    return (lst1+lst2)
lists_merge([1,2,3], [1,4])

[1, 2, 3, 1, 4]

#### 24. Multiply all elements in a list by 2.

In [76]:
def list_multiply_elements_by_two(lst):
    return [i*2 for i in lst]
list_multiply_elements_by_two([1,4,1000,0])

[2, 8, 2000, 0]

#### 25. Filter out all even numbers from a list.

In [77]:
def list_find_even_numbers(lst):
    return [i for i in lst if i%2 == 0]
list_find_even_numbers([1,4,6, 23])

[4, 6]

#### 26. Convert a list of strings to a list of integers.

In [78]:
def list_convert_strings_to_integers(lst):
    return [int(i) for i in lst]
list_convert_strings_to_integers(['0', '5', '6', '-3'])

[0, 5, 6, -3]

#### 27. Convert a list of integers to a list of strings.

In [79]:
def list_convert_integers_to_strings(lst):
    return [str(i) for i in lst]
list_convert_integers_to_strings([1,2,4,100])

['1', '2', '4', '100']

#### 28. Flatten a nested list.

In [80]:
def flatten_nested_list(lst):
    return [num for sub_list in lst for num in sub_list]
flatten_nested_list([[1,2,3], ["Hi"]])

[1, 2, 3, 'Hi']

#### 29. Create a list of the first 10 Fibonacci numbers.

In [81]:
def print_Fibonacci(n):
    if n ==0 or n==1:
        return [n]
    else:
        lst = [0,1]
        for i in range(2,n):
            fib = lst[i-1] + lst[i-2]
            lst.append(fib)        
    return lst  
    
print_Fibonacci(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

#### 30. Check if a list is sorted.

In [82]:
def list_check_sorted(lst):
    return lst == sorted(lst)
print(list_check_sorted([3,2,1]))
print(list_check_sorted([0,1,200, 300]))

False
True

#### 31. Rotate a list to the left by `n` positions.

In [83]:
def list_rotate_left(lst, n):
    
    for i in range(n):
        first = lst[0]
        for j in range(len(lst)-1):
            lst[j] = lst[j+1]
        lst[len(lst)-1] = first
    return lst
list_rotate_left([1,2,3,5,6], 2)

[3, 5, 6, 1, 2]

#### 32. Rotate a list to the right by `n` positions.

In [84]:
def list_rotate_right(lst,n):
    for i in range(n):
        last = lst[len(lst)-1]
        for j in reversed(range(1,len(lst))):
            lst[j] = lst[j-1]
        lst[0] = last
    return lst
list_rotate_right([1,2,3,"Hi"],3)

[2, 3, 'Hi', 1]

#### 33. Create a list of prime numbers up to 50.

In [85]:
def list_prime_numbers(n):
    
    list_ = []
    for i in range(2,n):
        is_Prime = True
        for j in range(2,i):
            if i%j == 0:
                is_Prime = False
                break
        if is_Prime == True:
            list_.append(i)
            
    return list_
list_prime_numbers(50)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

#### 34. Split a list into chunks of size `n`.

In [86]:
def list_split_n_chunks(lst, n):
    
    for i in range(0,len(lst),n):
        print(lst[i:i+n])
                     
list_split_n_chunks([1,2,3,4,5,6],2)

[1, 2]
[3, 4]
[5, 6]

#### 35. Find the second largest number in a list.

In [87]:
def find_second_largest_in_list(lst):
    maximum = max(lst[0], lst[1])
    secondMax = min(lst[0], lst[1])
    
    for i in range(2, len(lst)):
        if lst[i] > maximum:
            secondMax = maximum
            maximum = lst[i]
        elif lst[i] > secondMax and lst[i] != maximum:
            secondmax = lst[i]
        elif maximum == secondMax and lst[i]!= secondMax:
            secondMax = lst[i]
    return secondMax

find_second_largest_in_list([-12, 0, 34, 78.5, 0.5])

34

#### 36. Replace every element in a list with its square.

In [88]:
def replace_with_squares(lst):
    
    return [i**2 for i in lst]
replace_with_squares([-1,4,-4])

[1, 16, 16]

#### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [89]:
def list_to_dict(lst):
    
    dict = {}
    for i in range(len(lst)):
        dict[i] = lst[i]
    return dict

list_to_dict([1,2,3])

{0: 1, 1: 2, 2: 3}

#### 38. Shuffle the elements of a list randomly.

In [90]:
import random
def shuffle_list(lst):
    random.shuffle(lst)
    return lst

shuffle_list([1,2,"Hi", "Hello"])

[1, 'Hello', 2, 'Hi']

#### 39. Create a list of the first 10 factorial numbers.

In [91]:
def fact(n):
    
    if n == 0 or n ==1:
        return 1
    else:
        return n*fact(n-1)
    
def list_factorial(n):
    
    return [fact(i) for i in range(1,11,1)]
    
list_factorial(10)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

#### 40. Check if two lists have at least one element in common.

In [92]:
def check_if_common_in_lists(lst1, lst2):
    
    if len(set(lst1).intersection(set(lst2))) == 0:
        return False
    else:
        return True
check_if_common_in_lists(["Hi",2,3], [4,5,"Hi"])

True

#### 41. Remove all elements from a list.

In [93]:
def remove_all_elements_from_list(lst):
    return lst.clear()
remove_all_elements_from_list([1, "Hi", True, [1,2], 6.5, -4])

#### 42. Replace negative numbers in a list with 0.

In [94]:
def replace_negative_with_zero(lst):
    for i in range(len(lst)-1):
        if lst[i]<0:
            lst[i] = 0
    return lst
replace_negative_with_zero([1,-3,4, -0.6, 34])

[1, 0, 4, 0, 34]

#### 43. Convert a string into a list of words.

In [95]:
def string_to_list_of_words(str):
    
    return str.split(" ")
string_to_list_of_words("Hi there hello")

['Hi', 'there', 'hello']

#### 44. Convert a list of words into a string.

In [96]:
def list_of_words_to_string(lst):
    
    return " ".join(lst)
list_of_words_to_string(['Hi', 'there', 'hello'])

'Hi there hello'

#### 45. Create a list of the first `n` powers of 2.

In [97]:
def list_of_first_n_powers_of_2(n):
    
    return [2**i for i in range(n)]
list_of_first_n_powers_of_2(10)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

#### 46. Find the longest string in a list of strings.

In [98]:
def find_longest_string(lst):
   
    longest_string = ""
    for item in lst:
        if len(item) > len(longest_string):
            longest_string= item
    return longest_string
find_longest_string(["Hi", "There", "Manuscript"])

'Manuscript'

#### 47. Find the shortest string in a list of strings.

In [99]:
def find_shortest_string(lst):

    shortest_string = lst[0]
    for item in lst:
        if len(item)<len(shortest_string):
            shortest_string = item
    return shortest_string
find_shortest_string(['I', 'am', 'coder','He', 'is', 'Python'])

'I'

#### 48. Create a list of the first `n` triangular numbers.

In [100]:
def list_triangular_numbers(n):
    
    list_ = []
    for i in range(1,n):
        triangular_number = 0
        for j in range(i):
            triangular_number += j
        list_.append(triangular_number)
    return list_

list_triangular_numbers(10)

[0, 1, 3, 6, 10, 15, 21, 28, 36]

#### 49. Check if a list contains another list as a subsequence.

In [101]:
def check_if_subsequence(lst1, lst2):
    if len(set(lst2).difference(set(lst1))) == 0:
        return True
    else:
        return False
check_if_subsequence([1,2,3,4], [1,2,3,4,5])

False

#### 50. Swap two elements in a list by their indices.

In [102]:
def swap_elements_in_list_by_indices(lst,a,b):
    a_index = lst.index(a)
    b_index = lst.index(b)
    lst[a_index], lst[b_index] = lst[b_index], lst[a_index]
    return lst
swap_elements_in_list_by_indices([1,2,3], 2,1)

[2, 1, 3]

## TOPIC: Tuple Based Practice Problems

#### 1. Create a tuple with integers from 1 to 5.

In [103]:
def create_tuple():
    return tuple(i for i in range(1,6))
create_tuple()

(1, 2, 3, 4, 5)

#### 2. Access the third element of a tuple.

In [104]:
def access_3rd_element_tuple(my_tuple):
    return my_tuple[2]
access_3rd_element_tuple((1, 2, 3, 4, 5))

3

#### 3. Find the length of a tuple without using the `len()` function.

In [105]:
def length_of_tuple(my_tuple):
    len_tuple = 0
    for _ in my_tuple:
        len_tuple +=1
    return len_tuple
length_of_tuple((1,2,3,"hi"))

4

#### 4. Count the occurrences of an element in a tuple.

In [106]:
def num_of_occurences_in_tuple(my_tuple, element):
    count = 0
    for item in my_tuple:
        if item == element:
            count +=1
    return count
num_of_occurences_in_tuple((1,2,"Hi", "Hi", 2,2),"Hi")

2

#### 5. Find the index of the first occurrence of an element in a tuple.

In [107]:
def index_of_first_occurence_tuple(my_tuple, element):
    return my_tuple.index(element)
index_of_first_occurence_tuple((1,2,"Hi", "Hi", 2,2),2)

1

#### 6. Check if an element exists in a tuple.

In [108]:
def check_if_element_exists_in_tuple(my_tuple, element):
    return element in my_tuple
check_if_element_exists_in_tuple((1,2,"Hi", "Hi", 2,2),"Hi")

True

#### 7. Convert a tuple to a list.

In [109]:
def convert_tuple_to_list(my_tuple):
    return list(my_tuple)
convert_tuple_to_list((1,2,"Hi", "Hi", 2,2))

[1, 2, 'Hi', 'Hi', 2, 2]

#### 8. Convert a list to a tuple.

In [110]:
def convert_list_to_tuple(lst):
    return tuple(lst)
convert_list_to_tuple([1,2,"Hi", False])

(1, 2, 'Hi', False)

#### 9. Unpack the elements of a tuple into variables.

In [111]:
def unpack_elements_of_tuple():
    
    my_tuple = tuple(range(1,6))   
    a, b, c, d, e = my_tuple
    return "a=" + str(a) + ", b=" + str(b) + ", c=" + str(c) + ", d=" +str(d) + ", e="+ str(e)

unpack_elements_of_tuple()

'a=1, b=2, c=3, d=4, e=5'

#### 10. Create a tuple of even numbers from 1 to 10.

In [112]:
def tuple_of_even_nums():
    return tuple(i for i in range(1,11) if i % 2 == 0)
tuple_of_even_nums()

(2, 4, 6, 8, 10)

#### 11. Create a tuple of odd numbers from 1 to 10.

In [113]:
def tuple_of_odd_nums():
    return tuple(i for i in range(1,11) if i%2 != 0)
tuple_of_odd_nums()

(1, 3, 5, 7, 9)

#### 12. Concatenate two tuples.

In [114]:
def concatenate_tuples(tuple1, tuple2):
    return tuple1 + tuple2
concatenate_tuples((1,2,3), (4,5,6))

(1, 2, 3, 4, 5, 6)

#### 13. Repeat a tuple three times.

In [115]:
def repeat_tuple(my_tuple):
    return my_tuple*3
repeat_tuple((1,2,3))

(1, 2, 3, 1, 2, 3, 1, 2, 3)

#### 14. Check if a tuple is empty.

In [116]:
def check_if_tuple_is_empty(my_tuple):
    return len(my_tuple) == 0
print(check_if_tuple_is_empty((1,2,"Hi")))
print(check_if_tuple_is_empty(()))

False
True

#### 15. Create a nested tuple.

In [117]:
def create_nested_tuple():
    return tuple((1,2,(2,3, (1,2))))
create_nested_tuple()

(1, 2, (2, 3, (1, 2)))

#### 16. Access the first element of a nested tuple.

In [118]:
def access_nested_tuple(my_tuple):
    
    return my_tuple[0]
access_nested_tuple((1,2,(2,3, (1,2))))

1

#### 17. Create a tuple with a single element.

In [119]:
def create_tuple():
    my_tuple = (1)
    return my_tuple
create_tuple()

1

#### 18. Compare two tuples.

In [120]:
def compare_tuple(tuple1, tuple2):
    
    return tuple1 == tuple2
print(compare_tuple((1,2,3), (1,2,3)))
print(compare_tuple((1,3,4), (5,6,7)))

True
False

#### 19. Delete a tuple.

In [121]:
my_tuple = (1,2,3)
del my_tuple

#### 20. Slice a tuple.

In [122]:
def slice_tuple(my_tuple):
    return my_tuple[1:3]
my_tuple = (1,2,3,4)
slice_tuple(my_tuple)

(2, 3)

#### 21. Find the maximum value in a tuple.

In [123]:
def max_in_tuple(my_tuple):
    return max(my_tuple)
max_in_tuple((1,2,356, -10, 0.5))

356

#### 22. Find the minimum value in a tuple.

In [124]:
def min_in_tuple(my_tuple):
    return min(my_tuple)
min_in_tuple((1,2,-34, 0, 0.4))

-34

#### 23. Convert a string to a tuple of characters.

In [125]:
def convert_string_to_tuple(str):
    return tuple(str)
convert_string_to_tuple("Hello")

('H', 'e', 'l', 'l', 'o')

#### 24. Convert a tuple of characters to a string.

In [126]:
def convert_tuple_to_string(my_tuple):
    return "".join(my_tuple)
convert_tuple_to_string(('a', 'b', 'c'))

'abc'

#### 25. Create a tuple from multiple data types.

In [127]:
def create_tuple_multiple_data_types():
    
    my_tuple = ('a',2, True, 0.4, [1,2,3], (5,6,7), {7,8,9})
    return my_tuple
create_tuple_multiple_data_types()

('a', 2, True, 0.4, [1, 2, 3], (5, 6, 7), {7, 8, 9})

#### 26. Check if two tuples are identical.

In [128]:
def check_if_tuples_identical(tuple1, tuple2):
    return tuple1 == tuple2
check_if_tuples_identical((1,2,5), (1,2,5))

True

#### 27. Sort the elements of a tuple.

In [129]:
def sort_tuple(my_tuple):
    return sorted(my_tuple)
sort_tuple((1,6,-45, 0.1))

[-45, 0.1, 1, 6]

#### 28. Convert a tuple of integers to a tuple of strings.

In [130]:
def convert_tuple_integers_to_strings(my_tuple):
    return tuple(str(i) for i in my_tuple)
convert_tuple_integers_to_strings((1,2,3))

('1', '2', '3')

#### 29. Convert a tuple of strings to a tuple of integers.

In [131]:
def convert_tuple_strings_to_integers(my_tuple):
    return tuple(int(i) for i in my_tuple)
convert_tuple_strings_to_integers(('1', '2', '3'))

(1, 2, 3)

#### 30. Merge two tuples.

In [132]:
def merge_tuples(tuple1, tuple2):
    return (tuple1 + tuple2)
merge_tuples((1,2,3), (4,5,6))

(1, 2, 3, 4, 5, 6)

#### 31. Flatten a nested tuple.

In [133]:
def flatten_tuple(nested_tuple):
    flat_list = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flat_list.extend(flatten_tuple(item))
        else:
            flat_list.append(item)
    return tuple(flat_list)


nested_tuple = (((1, 2), (3, 4)), ((5, 6), (7, 8)))
flattened_tuple = flatten_tuple(nested_tuple)
print(flattened_tuple)

(1, 2, 3, 4, 5, 6, 7, 8)

#### 32. Create a tuple of the first 5 prime numbers.

In [134]:
def is_prime(n):
    if n<2:
        return False
    for i in range(2,n-1):
        if n%i == 0:
            return False
    return True
def tuple_of_primes():
    return tuple(i for i in range(2,12) if is_prime(i))

tuple_of_primes()

(2, 3, 5, 7, 11)

#### 33. Check if a tuple is a palindrome.

In [135]:
def is_tuple_palindrome(my_tuple):
    return my_tuple == my_tuple[::-1]
print(is_tuple_palindrome((1,2,3)))
print(is_tuple_palindrome((1,3,1)))

False
True

#### 34. Create a tuple of squares of numbers from 1 to 5.

In [136]:
def create_tuple_of_squares():
    return tuple(i**2 for i in range(1,6))
create_tuple_of_squares()

(1, 4, 9, 16, 25)

#### 35. Filter out all even numbers from a tuple.

In [137]:
def tuple_filter_even_numbers(my_tuple):
    return tuple(i for i in my_tuple if i%2 ==0)
tuple_filter_even_numbers((1,2,3,56,-2))

(2, 56, -2)

#### 36. Multiply all elements in a tuple by 2.

In [138]:
def multiple_tuple_elements_by_two(my_tuple):
    return tuple(i*2 for i in my_tuple)
multiple_tuple_elements_by_two((1,2,0.5, 12))

(2, 4, 1.0, 24)

#### 37. Create a tuple of random numbers.

In [139]:
import random
def create_random_numbers_tuple():
    return tuple(random.randrange(1,1000) for _ in range(10))
create_random_numbers_tuple()

(762, 682, 862, 917, 52, 301, 827, 535, 606, 256)

#### 38. Check if a tuple is sorted.

In [140]:
def is_tuple_sorted(my_tuple):
    return sorted(list(my_tuple)) == list(my_tuple)
print(is_tuple_sorted((1,2,3)))
print(is_tuple_sorted((3,2,1)))

True
False

#### 39. Rotate a tuple to the left by `n` positions.

In [141]:
def left_shift_tuple(my_tuple,n):
    
    length = len(my_tuple)
    if length != 0:
        n = n % length
    else:
        return tuple()
    return my_tuple[n:] + my_tuple[0:n]
my_tuple = (1,2,3,4)
print("Left shift by 1 position: " ,left_shift_tuple(my_tuple,1))
print("Left shift by 2 positions: ",left_shift_tuple(my_tuple,2))
print("Left shift by 3 positions: ",left_shift_tuple(my_tuple,3))

Left shift by 1 position:  (2, 3, 4, 1)
Left shift by 2 positions:  (3, 4, 1, 2)
Left shift by 3 positions:  (4, 1, 2, 3)

#### 40. Rotate a tuple to the right by `n` positions.

In [142]:
def right_shift_tuple(my_tuple,n):

    length = len(my_tuple)
    if length !=0:
        n = n% length
    else:
        return tuple()
    return my_tuple[-n:] + my_tuple[:-n]
my_tuple = (1,2,3,4)
print("Right shift by 1 position: " ,right_shift_tuple(my_tuple,1))
print("Right shift by 2 positions: ",right_shift_tuple(my_tuple,2))
print("Right shift by 3 positions: ",right_shift_tuple(my_tuple,3))

Right shift by 1 position:  (4, 1, 2, 3)
Right shift by 2 positions:  (3, 4, 1, 2)
Right shift by 3 positions:  (2, 3, 4, 1)

#### 41. Create a tuple of the first 5 Fibonacci numbers.

In [143]:
def fib(n):
    
    if n==0 or n == 1:
        return 1
    else:
        return fib(n-1) + fib(n-2)
def create_tuple_fib():
    return tuple(fib(i) for i in range(5))
create_tuple_fib()

(1, 1, 2, 3, 5)

#### 42. Create a tuple from user input.

In [144]:
def create_tuple_from_user_input():
    
    list_ = []
    for i in range(3):
        list_.append(input(("Enter element: ")))
    return tuple(list_)
create_tuple_from_user_input()

('3', '4', '')

#### 43. Swap two elements in a tuple.

In [145]:
def swap_elements_in_tuple(my_tuple, index1, index2):
    
    list_ = list(my_tuple)
    list_[index1], list_[index2] = list_[index2], list_[index1]
    return tuple(list_)
swap_elements_in_tuple((1,2,3,4),1,2)

(1, 3, 2, 4)

#### 44. Reverse the elements of a tuple.

In [146]:
def reverse_tuple(my_tuple):
    return tuple(list(my_tuple)[::-1])
reverse_tuple((1,5,6))

(6, 5, 1)

#### 45. Create a tuple of the first `n` powers of 2.

In [147]:
def create_tuple_of_powers_of_2(n):
    return tuple(2**i for i in range(n))
create_tuple_of_powers_of_2(5)

(1, 2, 4, 8, 16)

#### 46. Find the longest string in a tuple of strings.

In [148]:
def find_longest_string_in_tuple(my_tuple):
    
    longest_string = my_tuple[0]
    for i in my_tuple:
        if len(i)>len(longest_string):
            longest_string = i
    return longest_string
find_longest_string_in_tuple(("He" ,"Knows", "Python"))

'Python'

#### 47. Find the shortest string in a tuple of strings.

In [149]:
def find_shortest_string_in_tuple(my_tuple):
    
    shortest_string = my_tuple[0]
    for i in my_tuple:
        if len(i)<len(shortest_string):
            shortest_string = i
    return shortest_string
find_shortest_string_in_tuple(("He" ,"Knows", "Python"))

'He'

#### 48. Create a tuple of the first `n` triangular numbers.

In [150]:
def create_tuple_of_triangular_numbers(n):
    return tuple(int(i*(i+1)/2) for i in range(1,n+1))
create_tuple_of_triangular_numbers(5)

(1, 3, 6, 10, 15)

#### 49. Check if a tuple contains another tuple as a subsequence.

In [151]:
def is_subsequence(sub, main):
    sub_len = len(sub)
    main_len = len(main)
    i = j = 0
    while i<sub_len and j<main_len:
        if sub[i] == main[j]:
            i +=1
        j +=1
    return i == sub_len
sub = (1,2)
main = (1,2,3)

print(is_subsequence(sub, main))
print(is_subsequence((1,2,3), (4,5,6)))

True
False

#### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [152]:
def create_tuple_of_1s_and_02(n):
    list_ = []
    for i in range(n):
        if i%2 !=0:
            list_.append(1)
        else:
            list_.append(0)
    return list_        
create_tuple_of_1s_and_02(6)

[0, 1, 0, 1, 0, 1]

## TOPIC: Set Based Practice Problems

#### 1. Create a set with integers from 1 to 5.

In [153]:
def create_set():
    return {i for i in range(1,6)}
create_set()

{1, 2, 3, 4, 5}

#### 2. Add an element to a set.

In [154]:
def add_to_set(my_set,element):
    my_set.add(element)
    return my_set
my_set = {1, 2, 3, 4, 5}
add_to_set(my_set, 6)

{1, 2, 3, 4, 5, 6}

#### 3. Remove an element from a set.

In [155]:
def remove_from_set(my_set, element):
    
    my_set.remove(element)
    return my_set
remove_from_set({1,2,3}, 2)

{1, 3}

#### 4. Check if an element exists in a set.

In [156]:
def check_if_element_exists_in_set(my_set, element):
    return element in my_set
print(check_if_element_exists_in_set({1,2,3}, 3))
print(check_if_element_exists_in_set({1,2,3}, 4))

True
False

#### 5. Find the length of a set without using the `len()` function.

In [157]:
def length_set(my_set):
    count = 0
    for item in my_set:
        count +=1
    return count
length_set({1,2,3,4})

4

#### 6. Clear all elements from a set.

In [158]:
def clear_set(my_set):
    my_set.clear()
    return my_set
clear_set({1,2,3})

set()

#### 7. Create a set of even numbers from 1 to 10.

In [159]:
def create_set_of_even_numbers():
    return {i for i in range(1,11) if i%2 == 0}

create_set_of_even_numbers()

{2, 4, 6, 8, 10}

#### 8. Create a set of odd numbers from 1 to 10.

In [160]:
def create_set_of_odd_numbers():
    return {i for i in range(1,11) if i%2 != 0}

create_set_of_odd_numbers()

{1, 3, 5, 7, 9}

#### 9. Find the union of two sets.

In [161]:
def union_of_sets(set1, set2):
    
    return set1.union(set2)

union_of_sets({1,2,3,4}, {4,5})

{1, 2, 3, 4, 5}

#### 10. Find the intersection of two sets.

In [162]:
def intersection_of_sets(set1, set2):
    return set.intersection(set2)
intersection_of_sets({1,2,3}, {1,2})

{1, 2}

#### 11. Find the difference between two sets.

In [163]:
def difference_between_sets(set1,set2):
    return set1.difference(set2)
difference_between_sets({1,2,3,4}, {1,2})

{3, 4}

#### 12. Check if a set is a subset of another set.

In [164]:
def is_subset_of_set(set1, set2):
    return set1.issubset(set2)
print(is_subset_of_set({1,2,3}, {1,2,3,4}))
print(is_subset_of_set({1,2,3}, {1,2,4}))

True
False

#### 13. Check if a set is a superset of another set.

In [165]:
def is_superset_of_set(set1,set2):
    
    return set1.issuperset(set2)
print(is_superset_of_set({1,2,3,4}, {1,2}))
print(is_superset_of_set({1,2,3,4}, {1,5}))

True
False

#### 14. Create a set from a list.

In [166]:
def set_from_list(lst):
    return set(lst)
set_from_list([1,2,3,4,1, "Hi"])

{1, 2, 3, 4, 'Hi'}

#### 15. Convert a set to a list.

In [167]:
def set_to_list(my_set):
    return list(my_set)
set_to_list({1,2,3,"Hello"})

[1, 2, 3, 'Hello']

#### 16. Remove a random element from a set.

In [168]:
import random
def remove_random_element_from_set(my_set):
    element = random.choice(list(my_set))
    my_set.remove(element)
    return my_set
remove_random_element_from_set({1,2,3})

{2, 3}

#### 17. Pop an element from a set.

In [169]:
def pop_element_from_set(my_set):
    my_set.pop()
    return my_set
pop_element_from_set({1,2,3,4})

{2, 3, 4}

#### 18. Check if two sets have no elements in common.

In [170]:
def check_of_no_common_elements_in_sets(set1, set2):
    
    return len(set1.intersection(set2)) == 0
print(check_of_no_common_elements_in_sets({1,2,3}, {4,5}))
print(check_of_no_common_elements_in_sets({1,2,3}, {4,5,1}))

True
False

#### 19. Find the symmetric difference between two sets.

In [171]:
def symmetric_diff_between_sets(set1, set2):
    return set1.symmetric_difference(set2)
symmetric_diff_between_sets({1,2,3}, {1})

{2, 3}

#### 20. Update a set with elements from another set.

In [172]:
def update_set(set1, set2):
    set1.update(set2)
    return set1
update_set({1,2,3}, {1,2,4,5})

{1, 2, 3, 4, 5}

#### 21. Create a set of the first 5 prime numbers.

In [173]:
def isPrime(n):
    
    if n < 2:
        return False
    else:
        for i in range(2,n):
            if i%n == 0:
                return False
    return True
def set_of_primes(n):
    
    return {i for i in range(2,7) if isPrime(i)}
set_of_primes(10)

{2, 3, 4, 5, 6}

#### 22. Check if two sets are identical.

In [174]:
def sets_identical(set1, set2):
    
    return set1 == set2
print(sets_identical({1,2,3}, {1,1,2,3}))
print(sets_identical({1,2,3}, {1,1,2,3,4}))

True
False

#### 23. Create a frozen set.

In [175]:
def frozen_set(my_set):

    
    return frozenset(my_set)

frozen_set({1,2,3})

frozenset({1, 2, 3})

#### 24. Check if a set is disjoint with another set.

In [176]:
def are_sets_disjoint(set1, set2):
    
    return len(set1.intersection(set2)) == 0

print(are_sets_disjoint({1,2,3}, {4}))
print(are_sets_disjoint({1,2,3}, {1,2,4}))

True
False

#### 25. Create a set of squares of numbers from 1 to 5.

In [177]:
def set_of_squares():
    
    return {i**2 for i in range(1,6)}
    
set_of_squares()

{1, 4, 9, 16, 25}

#### 26. Filter out all even numbers from a set.

In [178]:
def filter_even_numbers_from_set(my_set):
    
    return {i for i in my_set if i%2 ==0}
filter_even_numbers_from_set({1,4,5,10})

{4, 10}

#### 27. Multiply all elements in a set by 2.

In [179]:
def multiply_set_elements_by_two(my_set):
    
    return {i*2 for i in my_set}
multiply_set_elements_by_two({1,2,5})

{2, 4, 10}

#### 28. Create a set of random numbers.

In [180]:
def set_of_random_nums():
    
    return {random.randrange(1,1000) for _ in range(10)}
set_of_random_nums()

{17, 159, 171, 271, 300, 337, 342, 597, 614, 776}

#### 29. Check if a set is empty.

In [181]:
def is_set_empty(my_set):
    
    return len(my_set)==0
print(is_set_empty({}))
print(is_set_empty({1}))

True
False

#### 30. Create a nested set (hint: use frozenset).

In [182]:
def create_nested_set():
    
    return set([frozenset([1, 2]), frozenset([2, 3]), frozenset([4, 5])])

create_nested_set()

{frozenset({4, 5}), frozenset({2, 3}), frozenset({1, 2})}

#### 31. Remove an element from a set using the discard method.

In [183]:
def remove_element_from_set(my_set, element):
    
    my_set.discard(element)
    return my_set
remove_element_from_set({1,2,3},3)

{1, 2}

#### 32. Compare two sets.

In [184]:
def compare_two_sets(set1, set2):
    
    print(set1 == set2)
    print(set1.issubset(set2))
    print(set1.issuperset(set2))
    

    
compare_two_sets({1,2,3,4}, {1,2})

False
False
True

#### 33. Create a set from a string.

In [185]:
def create_set_from_string(str):
    return set(str)
create_set_from_string("Hello")

{'H', 'e', 'l', 'o'}

#### 34. Convert a set of strings to a set of integers.

In [186]:
def set_convert_strings_to_int(my_set):
    
    return {int(i) for i in my_set}
set_convert_strings_to_int({'1', '2', '4'})

{1, 2, 4}

#### 35. Convert a set of integers to a set of strings.

In [187]:
def set_convert_int_to_string(my_set):
    
    return {str(i) for i in my_set}
set_convert_int_to_string({1, 2, 4})

{'1', '2', '4'}

#### 36. Create a set from a tuple.

In [188]:
def create_set_from_tuple(my_tuple):
    
    return set(my_tuple)

create_set_from_tuple((1,2,3))

{1, 2, 3}

#### 37. Convert a set to a tuple.

In [189]:
def convert_set_to_tuple(my_set):
    
    return tuple(my_set)
convert_set_to_tuple({1,2,3})

(1, 2, 3)

#### 38. Find the maximum value in a set.

In [190]:
def max_in_set(my_set):
    
    return max(my_set)
max_in_set({1,2,-4,0.4,60})

60

#### 39. Find the minimum value in a set.

In [191]:
def min_in_set(my_set):
    
    return min(my_set)
min_in_set({-2, 0, 40,-56})

-56

#### 40. Create a set from user input.

In [192]:
def create_set_from_user_input():
    
    my_set = set()
    
    for i in range(3):
        my_set.add(input("Enter element: "))
    return my_set
create_set_from_user_input()

{'2', '4', '5'}

#### 41. Check if the intersection of two sets is empty.

In [193]:
def check_if_intersection_empty(set1, set2):
    
    return len(set1.intersection(set2)) == 0
print(check_if_intersection_empty({1,2,3}, {4}))
print(check_if_intersection_empty({1,2,3}, {2,4}))

True
False

#### 42. Create a set of the first 5 Fibonacci numbers.

In [194]:
def fib(n):
    
    if n<2:
        return 1
    else:
        return fib(n-1) + fib(n-2)
def create_set_of_fib():
    
    return {fib(i) for i in range(6)}

    
create_set_of_fib()

{1, 2, 3, 5, 8}

#### 43. Remove duplicates from a list using sets.

In [195]:
def remove_duplicates_using_sets(lst):
    
    return list(set(lst))
remove_duplicates_using_sets([1,1,2,3,"Hi", "Hi"])

['Hi', 1, 2, 3]

#### 44. Check if two sets have the same elements, regardless of their count.

In [196]:
def check_if_same_elements_in_sets(set1, set2):
    
    return set1 == set2
print(check_if_same_elements_in_sets({1,1,2,3,4}, {1,2,3,4}))
print(check_if_same_elements_in_sets({1,1,2,3,4}, {1,2,3,4,5}))

True
False

#### 45. Create a set of the first `n` powers of 2.

In [197]:
def set_of_powers_of_2(n):
    
    return {2**i for i in range(n)}
set_of_powers_of_2(5)

{1, 2, 4, 8, 16}

#### 46. Find the common elements between a set and a list.

In [198]:
def common_between_set_and_list(my_set, lst):
    return list(my_set.intersection(set(lst)))

common_between_set_and_list({1,2,3}, [1,2])

[1, 2]

#### 47. Create a set of the first `n` triangular numbers.

In [199]:
def create_set_of_triangular_nums(n):
    
    return {int(i*(i-1)/2) for i in range (2,n)}
create_set_of_triangular_nums(10)

{1, 3, 6, 10, 15, 21, 28, 36}

#### 48. Check if a set contains another set as a subset.

In [200]:
def check_if_subset(main, sub):
    
    length_main = len(main)
    length_sub = len(sub)
    i = j = 0
    main = list(main)
    sub = list(sub)
    while i<length_sub and j<length_main:
        if main[j] == sub[i]:
            i +=1
        j +=1
    return i == length_sub

print(check_if_subset({1,2,3}, {1,2}))
print(check_if_subset({1,2,3}, {1,4}))

True
False

#### 49. Create a set of alternating 1s and 0s of length `n`.

In [201]:
def create_set_of_0s_and_1s(n):
    my_set = set()
    for i in range(n):
        if i%n != 0:
            my_set.add(1)
        else:
            my_set.add(0)
    return my_set
            
create_set_of_0s_and_1s(5)

{0, 1}

#### 50. Merge multiple sets into one.

In [202]:
def merge_sets(set1,set2,set3):
    
    return (set1.union(set2)).union(set3)
merge_sets({1,2}, {3,4}, {5,1})

{1, 2, 3, 4, 5}